Xcursor.size:   12
Xcursor.theme:  Adwaita

URxvt.font: xft:Terminus:pixelsize=18
URxvt.scrollBar: false

! dark setup
! *.foreground:   #FFFFFF
! *.background:   #000000

! light setup
*.foreground:   #FFFFFF
*.background:   #000000

! black
*.color0:       #000000
*.color8:       #666666

! red
*.color1:       #990000
*.color9:       #E50000

! green
*.color2:       #00A600
*.color10:      #00D900

! yellow
*.color3:       #999900
*.color11:      #E5E500

! blue
*.color4:       #0000B2
*.color12:      #0000FF

! magenta
*.color5:       #B200B2
*.color13:      #E500E5

! cyan
*.color6:       #00A6B2
*.color14:      #00E5E5

! white
*.color7:       #BFBFBF
*.color15:      #E5E5E5
